<h1> <%=@list.name %></h1>
<p>add tasks to your list </p>

<%=  %>
<%= form_for @task do |f| %>
<%= f.label :name %>
<%= f.text_field :name %>
<%= f.label :list_id %>
<%= f.text_field :list_id, value: @list.id %>
<%= f.submit %>

<% end %>

<% @tasks.each do |tasks| %>
<%= task.name %>


<% end %>
